$fore = #bbb
$back = #111
$nav = #f99
$triad = #99f

/// typography

@font-face
  font-family snake
  src: url(SnakeChan.ttf)

body
  font-family 'DM Sans', sans-serif

h1
  font-size 3.5rem
  text-align center

h1, h2
  // color $triad
  font-family snake, monospace

a:link, a:visited, a:active
  color $triad
  font-size 1.25rem
  text-decoration none

a:hover
  color $nav
  text-decoration underline

.smallL, .smallR
  font-size 2.5rem

.smallL
  margin-right 2rem 

.smallR
  margin-left 2rem 

//end typography

/// layout

*
  box-sizing border-box

body
  margin 0
  padding 0
  color $fore
  margin-top -2rem
  overflow-x hidden
  background-color $back

#main
  width 100vw
  display flex
  min-height 100vh
  padding 1rem 3rem
  transform-origin top left
  justify-content space-between
  transition transform 0.5s linear

  &.show-nav
    transform rotate(-20deg)

  & h1, h2
    padding-left 5rem

.homecontent
  margin auto

h1
  display flex
  align-items center

.content
  width 65%
  height 150vh

.photos
  display flex
  padding 0 4px
  flex-wrap wrap
  justify-content center

  & img
    margin-top 8px
    cursor pointer
    max-width 200px
    transition 0.5s
    object-fit contain
    border-radius 15px
    margin-right 0.5rem
    border 2px solid transparent

    &:hover
      opacity 0.5
      border 2px solid $triad

.toonz
  top 1%
  width 25%
  height 10vh
  position sticky
  min-width 250px

  & p
    margin 0
    display flex
    align-items center

  & audio
    max-width 3rem
    margin 0 0.5rem
    height 1rem

//end layout

/// nav

#circle-container
  top -100px
  left -100px
  z-index 100
  position fixed

#circle
  width 200px
  height 200px
  background $nav
  position relative
  border-radius 50%
  transition transform 0.5s linear

#circle.show-nav
  transform rotate(-90deg)

#circle button 
  top 50%
  left 50%
  border 0
  outline none
  cursor pointer
  position absolute
  background transparent
  animation opac 1s infinite alternate

#circle button:focus
  outline none

#circle button#open
  margin-top 15px
  margin-left 12px

@keyframes opac
  from
    opacity 0.33
  to
    opacity 1

#circle button#close
  outline none
  padding 1.1rem
  font-size 3rem
  font-family snake
  transform rotate(90deg)
  transform-origin top left

#nav
  left 0
  bottom 40px
  z-index 100
  position fixed

#nav.show-nav ul li
  transition-delay 0.3s
  transform translateX(0)

#nav ul 
  list-style none
  padding-left 30px

#nav ul li
  color #345fff
  margin 10px 0
  transform translateX(-200%)
  transition transform 0.4s ease-in

#nav ul li + li
  margin-left 15px
  transform translateX(-150%)


#nav ul li + li + li
  margin-left 30px
  transform translateX(-200%)

#nav ul li + li + li + li
  margin-left 45px
  transform translateX(-250%)

#nav ul li + li + li + li + li
  margin-left 60px
  transform translateX(-300%)

#nav ul li + li + li + li + li + li
  margin-left 75px
  transform translateX(-350%)

#nav ul li + li + li + li + li + li + li
  margin-left 90px
  transform translateX(-400%)

#nav ul li + li + li + li + li + li + li + li
  margin-left 115px
  transform translateX(-450%)

#nav ul li + li + li + li + li + li + li + li + li
  margin-left 130px
  transform translateX(-500%)

//end nav

/// modal

#modal
  top 0
  left 0
  width 100%
  height 100%
  z-index 200
  display none
  cursor pointer
  position fixed
  padding-top 2rem
  background rgba(0,0,0,0.8)

#modal-image
  margin auto
  display block
  max-height 85%
  border-radius 15px

#caption
  color #ddd
  display block
  padding 0.5rem 0
  font-size 1.5rem
  text-align center

#modal-image, #caption
  animation-name zoom
  animation-duration 0.6s

@keyframes zoom
  from
    transform:scale(0)
  to 
    transform:scale(1)

//end modal

/// carousel

.carousel
  width 800px
  overflow hidden
  transition width 0.5s ease
  
  & img
    width 800px
    height 450px
    border-radius 2rem

.image-container
  display flex
  transform translateX(0)
  transition transform 0.5s ease-in-out

//end carousel

/// audio

.song
  display flex
  align-items center

  & button
    border none
    width 1.75rem
    height 1.5rem
    cursor pointer
    background $back
    background-repeat no-repeat
    background-image url(../imgs/play.png)

  & button.playing
    background-image url(../imgs/pause-blue.png)

  &:hover
    color $triad

span.playing
  color $triad

.spacer
  height 2rem

//end audio