include includes/head
include includes/nav


#main
  .content
    h1
      .smallL ~~
      .normal bedouin
      .smallR ~~
    
    .photos
      img.gall(src='imgs/bedouin.jpg' alt='rog, with best friend (only kidding)')

    .blurb
      p Having pretty much gone our separate ways, musically and otherwise, it fell on Rog to continue something.
      p From 1996 or so, there are recordings of other songs by Rog on his own, under the bizarrely name of <i>BEDOUIN</i>.
      p A CD was sent off to producers,  with one reply being that the songs were not 'jolly enough' – at a time of Radiohead !
      
  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/3-bedouin/01-Deadhead.mp3')
      button 
      span Deadhead

    .song.s2
      audio(src='mp3s/3-bedouin/02-Taxis.mp3')
      button 
      span Taxis

    .song.s3
      audio(src='mp3s/3-bedouin/03-Strings.mp3')
      button 
      span Strings

    .song.s4
      audio(src='mp3s/3-bedouin/04-Sweetest Love.mp3')
      button 
      span Sweetest Love

    .song.s5
      audio(src='mp3s/3-bedouin/05-Autumn Sky.mp3')
      button 
      span Autumn Sky

    .spacer &nbsp;

    .song.s6
      audio(src='mp3s/3-bedouin/real lives.mp3')
      button 
      span Real Lives
    
    .song.s7
      audio(src='mp3s/3-bedouin/smoky sort of life.mp3')
      button 
      span Smoky Sort of Life
    
    .song.s8
      audio(src='mp3s/3-bedouin/waiting for you.mp3')
      button 
      span Waiting For You

    .song.s9
      audio(src='mp3s/3-bedouin/no way to carry on.mp3')
      button 
      span No Way To Carry On

    .song.s10
      audio(src='mp3s/3-bedouin/tuesday morning.mp3')
      button 
      span Tuesday Morning

    .spacer &nbsp;

    .song.s11
      audio(src='mp3s/3-bedouin/jvc/01-nemesis.mp3')
      button 
      span Nemesis
    
    .song.s12
      audio(src='mp3s/3-bedouin/jvc/02-monkey business.mp3')
      button 
      span Monkey Business
    
    .song.s13
      audio(src='mp3s/3-bedouin/jvc/03-stars.mp3')
      button 
      span Stars

    .song.s14
      audio(src='mp3s/3-bedouin/jvc/04-song 4 me.mp3')
      button 
      span Song 4 Me
    
    .song.s15
      audio(src='mp3s/3-bedouin/jvc/05-sweetest love.mp3')
      button 
      span Sweetest Love
    
    .song.s16
      audio(src='mp3s/3-bedouin/jvc/06-permanency.mp3')
      button 
      span Permanency
    
    .song.s17
      audio(src='mp3s/3-bedouin/jvc/07-celebrity.mp3')
      button 
      span Celebrity
    
    .song.s18
      audio(src='mp3s/3-bedouin/jvc/08-beagle.mp3')
      button 
      span Beagle

    .song.s19
      audio(src='mp3s/3-bedouin/jvc/09-lawrence.mp3')
      button 
      span Lawrence
    
    .song.s20
      audio(src='mp3s/3-bedouin/jvc/10-simple life.mp3')
      button 
      span Simple Life

  .toonz
    br
    .spacer &nbsp;

    .song.s21
      audio(src='mp3s/3-bedouin/verb2/01-couple of guys.mp3')
      button 
      span Couple of Guys
    
    .song.s22
      audio(src='mp3s/3-bedouin/verb2/02-love goes wrong.mp3')
      button 
      span Love Goes Wrong
    
    .song.s23
      audio(src='mp3s/3-bedouin/verb2/03-2 beans.mp3')
      button 
      span 2 Beans
    
    .song.s24
      audio(src='mp3s/3-bedouin/verb2/04-concrete and tyres.mp3')
      button 
      span Concrete And Tyres
    
    .song.s25
      audio(src='mp3s/3-bedouin/verb2/05-harley d.mp3')
      button 
      span Harley D

    .song.s26
      audio(src='mp3s/3-bedouin/verb2/06-dragonfly.mp3')
      button 
      span Dragonfly
    
    .song.s27
      audio(src='mp3s/3-bedouin/verb2/07-always is.mp3')
      button 
      span Always Is
    
    .song.s28
      audio(src='mp3s/3-bedouin/verb2/08-feet in the water.mp3')
      button 
      span Feet In The Water
    
    .song.s29
      audio(src='mp3s/3-bedouin/verb2/09-no one.mp3')
      button 
      span No One

    .song.s30
      audio(src='mp3s/3-bedouin/verb2/10-something deeper.mp3')
      button 
      span Something Deeper
    
    .song.s31
      audio(src='mp3s/3-bedouin/verb2/11-hubs.mp3')
      button 
      span Hubs

    .spacer &nbsp;

    .song.s32
      audio(src='mp3s/3-bedouin/verb3/01-the sun returns.mp3')
      button 
      span The Sun Returns

    .song.s33
      audio(src='mp3s/3-bedouin/verb3/02-tuesday murder.mp3')
      button 
      span Tuesday Murder

    .song.s34
      audio(src='mp3s/3-bedouin/verb3/03-whiskey river.mp3')
      button 
      span Whiskey River

    .song.s35
      audio(src='mp3s/3-bedouin/verb3/04-real lives.mp3')
      button 
      span Real Lives

    .song.s36
      audio(src='mp3s/3-bedouin/verb3/05-if i go on.mp3')
      button 
      span If I Go On

    .song.s37
      audio(src='mp3s/3-bedouin/verb3/06-smoky kind of life.mp3')
      button 
      span Smoky Sort Of Life

    .song.s38
      audio(src='mp3s/3-bedouin/verb3/07-from the ropes.mp3')
      button 
      span From The Ropes

    .song.s39
      audio(src='mp3s/3-bedouin/verb3/08-back to normal.mp3')
      button 
      span Back To normal

    .song.s40
      audio(src='mp3s/3-bedouin/verb3/09-better now.mp3')
      button 
      span Better Now

    .song.s41
      audio(src='mp3s/3-bedouin/verb3/10-one horse empty.mp3')
      button 
      span One Horse Empty


  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')