include includes/head
include includes/nav

#main
  .content
    h1
      .smallL ~~
      .normal Idle Lovers
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/jackroller.png' alt='jack')
    
    .blurb
      

  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/lost/01-TVs on.mp3')
      button 
      span coming soon!
  

  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')