include includes/head
include includes/nav
include includes/nav-circle.pug

#mymain
  
  h1 The Adders: <span>an evolutionary retrospective!</span>
    
  .carousel
    .image-container#imgs
      img(src='imgs/home/snitw.jpg')
      img(src='imgs/home/ombres.jpg')
      img(src='imgs/home/dunno.jpg')
      img(src='imgs/home/jb.jpg')
      img(src='imgs/home/adders.jpg')

  p snaking our way through time...

  script(src='js/scripts.prod.js')
  script(src='js/carousel.prod.js')

    