include includes/head
include includes/nav

#main
  .homecontent
    h1 
      .smallL ~~
      .normal The Adders
      .smallR ~~
      
    .carousel
      .image-container#imgs
        img(src='imgs/home/snitw.jpg')
        img(src='imgs/home/ombres.jpg')
        img(src='imgs/home/dunno.jpg')
        img(src='imgs/home/jb.jpg')
        img(src='imgs/home/adders.jpg')

    h2 Snaking our way through time - an evolutionary retrospective

    p (click the snake in the corner to navigate site!)

  script(src='js/scripts.prod.js')
  script(src='js/carousel.prod.js')
