include includes/head
include includes/nav
include includes/nav-circle.pug

#main
  .content
    h1
      .smallL ~~
      .normal jackroller
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/jackroller.png' alt='jack')
    
    .blurb


  .toonz


  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')