include includes/head
include includes/nav

#main
  .content
    h1
      .smallL ~~
      .normal Lostombres
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/lost/ombres.jpg' alt='ian davies, rog (obscuring chris on drums) and ian mccord')
      img.gall(src='imgs/lost/clip.jpg' alt='ottery festival spiel')
      img.gall(src='imgs/lost/banjoman.jpg' alt='banjoing on')
      img.gall(src='imgs/lost/everest.jpg' alt='fit the best')
    
    .blurb.long
      p After moving to Ottery in early 2001, a little spell of between-band creation was then recorded by Rog, at Tony's tidy home based studio. Then thankfully, a recall back to the fetrilt ground of the mid-nineties became apparent – SNITW Drummer, Chris Durant, got in touch, running a few new creations together in Chris' Silverton home garage.
      
      p We gave Ian McCord from the same village a shout. He'd been writing his own good stuff but was happy to join us. He proved to be a natural on the bass, finding and applying the classy background tuneful glue to what became LOSTOMBRES - god knows where that name came from but it stuck for a while!
      
      p After some searching in Exeter music shops, we were then joined by the Fender-bending skank-fan, Big Ian 'Barefoot' Davey, from Exmouth on lead guitar. There started around 2-3 years of rehearsing and quite a few gigs from Taunton to St Austell and beyond. From this band, following a 7 song CD recording at a studio near Silverton in 2003 there then came roughly 4 CDs worth of songs,recorded by the semi-legendary talented sound engineer/producer and musician Jon Smith in the garage and some Live. The greatest hits being chosen for the 12 song CD <i>'Permanency'</i>. This included a cover of Dolly Parton's <i>Jolene</i>, and a classy number bequeathed by old Dave Cox called <i>Wheels</i>.

      p Our charity Everest Climb fundraising Talaton gig (with live recording from Jon) included a slightly crazy banjo-jinxed version of <i>Born To be Wild</i>, which certainly raised some eyebrows - heavenward perhaps!


  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/lost/01-TVs on.mp3')
      button 
      span TV's On
    .song.s2
      audio(src='mp3s/lost/02-Greenfield.mp3')
      button 
      span Greenfield
    .song.s3
      audio(src='mp3s/lost/03-No God Above.mp3')
      button 
      span No God Above
    .song.s4
      audio(src='mp3s/lost/04-Wheels.mp3')
      button 
      span Wheels
    .song.s5
      audio(src='mp3s/lost/05-Country High.mp3')
      button 
      span Country High
    .song.s6
      audio(src='mp3s/lost/06-Hard Sholder.mp3')
      button 
      span Hard Shoulder
    .song.s7
      audio(src='mp3s/lost/07-Rusting Chassis.mp3')
      button 
      span Rusting Chassis


  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')