include includes/head
include includes/nav

#main
  .content
    h1
      .smallL ~~
      .normal Lostombres
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/jackroller.png' alt='jack')
    
    .blurb
  
  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/jackroller/happy house.mp3')
      button 
      span Happy House

  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')