include includes/head
include includes/nav

#main
  .content
    h1
      .smallL ~~
      .normal Petrol Moon
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/jackroller.png' alt='jack')
    
    .blurb
      p In 2006 Rog and Jon began working on new songs and many that had not made it to the band. This led to a bunch of not too shabby home recordings evidenced here (see right hand side of this page). The 'Jewel in the Crown' was the 9 track 'Since the Beginning'.This was Jon's choice of 10 songs under the new 'two man virtual band' song-related title of Petrolmoon. We added a lot of very nice artwork by Jon  (an art school graduate) on the numerous CD's compiled by him, printed up and still available from a local outlet near you - somewhere (car boot sales?)!
      
      p We also laid down a whole lot of new songs and tracks together in Jon's bedroom studio that didn't make it to the final 10 but these can also now be heard here!
      
      p After that, Rog also ran an open-mic session for about a year upstairs at The London Inn in Ottery with Jon sorting the sound, using old Lostombres inherited equipment.



  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/lost/01-TVs on.mp3')
      button 
      span coming soon!
  

  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')