include includes/head
include includes/nav
include includes/nav-circle.pug


#mymain
  .content
    h1 something nasty in the woodshed

    .page-container

      .photos
        .row
          img.gall(src='imgs/snitw/s1.jpg' alt='ian richardson, briefly on keyz')
          img.gall(src='imgs/snitw/s3.jpg' alt='nick, fiddle and guitar')
          img.gall(src='imgs/snitw/s4.jpg' alt='rob hills, bass')
          img.gall(src='imgs/snitw/chris-durant.jpg' alt='chris durant, skin basher')
          img.gall(src='imgs/snitw/s6.jpg' alt='rog hunt, general awesomeness')
          img.gall(src='imgs/snitw/s2.jpg' alt='julie matthews, singer, writer, flautist')
          img.gall(src='imgs/snitw/s5.jpg' alt='rog, chris, rob, julie, nick')
          img.gall(src='imgs/snitw/s7.jpg' alt='rocking out!')
      // AQ add captions as alts!!!


      .toonz
        p 
          audio(controls='')
            source(src='mp3s/1-snitw1/01-Man in the Long Coat.mp3')
          span Man in the Long Black Coat
        
        p 
          audio(controls='')
            source(src='mp3s/1-snitw1/02-Black Crow.mp3')
          span Black Crow
        
        p 
          audio(controls='')
            source(src='mp3s/1-snitw1/03-The Mirror.mp3')
          span The Mirror
        
        p
          audio(controls='')
            source(src='mp3s/1-snitw1/04-England Boys.mp3')
          span England Boys
        
        p 
          audio(controls='')
            source(src='mp3s/1-snitw1/05-Fat Controller.mp3')
          span Fat Controller
        
        p
          audio(controls='')
            source(src='mp3s/1-snitw1/06-Digging My Crown.mp3')
          span Digging My Crown
        
        p 
          audio(controls='')
            source(src='mp3s/1-snitw1/07-A Love Like This.mp3')
          span A Love Like This
        
        p
          audio(controls='')
            source(src='mp3s/1-snitw1/08-Lone Rider.mp3')
          span Lone Rider


    .blurb
      p The story of this band started around 1992, with Rog Hunt (guitar) and Julie Matthews (vocals and flute) meeting at Exeter teacher training college,music being a big driver for both!
      p Rog mainly knew 70s/80s rock and post punk (with a bit of Dylan and Nick Cave thrown in). He had hardly sung and was still dismayed at not being able to ape the rock guitar of Hendrix or Heavy Metal heroes!
      p Julie, having run the folk club at Swansea Uni, had worked her way on from a Moody Blues affair to many new fields, becoming heavily skilled in English and Irish folk songs - both vocally and on the flute. This, strangely enough, was a good mix and had potential…
      p After Rog realised that he could write a reasonable bit of strange chord guitar shenanigans to a Julie's lyrics, adn that he was better at that than teaching,  a change was made, both geographically and otherwise: the pair of them hacked up to East Devon from Brixham after Rog leaving teaching for the good of all, with a Jawa & side-car.
      p With Julie still teaching, they started to attend a few (of what were in the days before ‘open mic sessions’) Folk Nights. They began roughly performing Irish, Welsh and English folk songs learned from a couple of Julie's books. 
      p OMG!...but it was a good breeding ground. Things had to tighten up whilst playing live together to a bunch of strangers with nasal drone critique skills. They didn't often join in with our random choices! 
      p So, from this with Folk song covers not quite completing the circle, it seemed something else was looking for a way in – original songs were gestating, and were not going to be overdue for long!
      p Some early sessions featured a few self-penned numbers with Matthew Smith (briefly on bass and recording), Ian Richardson (on keys for a short while) and Nick Martin playing fiddle and electric guitar.
      p This got us the attention of a local recording studio in Honiton: Daylight Music, run by Ian Dent,who recorded our first 3 track session and put a song called <i>The Mirror</i> (lyrics/tune by Julie and rest by Rog) on a compilation of 24 Devon Bands, with the risqué coastal-rock title <i>Long and Pink</i>!

      // AQ edit and condense!
      p By the time that CD was released and a strange ,multi-band, semi-mimed gig at Exeter Riviera was preformed- the line up had changed : Matthew was on his way to Australia  . 
      p The other three advertised in the Express and Echo and music stores [ no social media then !] and were soon gifted replies from:- Chris Durant –a tidy drummer [previously from the South east but landed in Exeter] and Rob Hills– :- talented Sidmothian bass player whose only shared song that came to light with us much later was one of our finest.
      p The Adders Nest has spread from that time onwards really -around east Devon with various forays and variations in the South West ……

      p So – the five of us started rehearsing on other songs written between Rog [who had begun exploring ways to make songs from a loose imagination and the most unusual chords in his guitar book] and Julie’s  tune-smithery and writing skills 
      p But then we  hit decision time  …?The Name…? It’s always a brain tease for any band and ours was no exception.
      p Unrelatedly , Rog had recently read and loved the Stella Gibbons book – Cold Comfort Farm -    This strange, comic and twisted theme which stems from what the Grandmother of the large brood of StarkAdders saw as a child on the farm –The reason why she controls from but  has never left her bedroom— What she saw was … :Something Nasty in the Woodshed ‘:- Never identified but always quoted. 
      p Rog suggested this and [ much to his surprise and uncertainty]   the others ,after a full night of shared debate ,seemed set on it and the Name has mostly stuck in some form- to this day ! Before long weird-monster headed T Shirts were in production…
      p Something Nasty were kind of lucky- in the very early stages somehow making contact with the Cavern Club in Exeter at their birth -who needed a band to test out acoustics of the venue with a mixing desk ! – Then rehearsing often twice a week the songs came a-flowing and gigs [in the days before virtually all pubs would only take covers bands] were found and usually re-bookable. The former ‘Sleeper’ in Seaton being a favourite with locals who knew us ,[possibly starved of alternatives!] and filled the place good and rowdy.
      p Our most infamous and best forgotten being a mini tour arranged by a fan in Salisbury who got us to plug in up there -along with two other venues -one evening at The Porton Down works social-club....[ a little mind altering was required by some band members to morally face this!] 
      p But, on the plus side, there were a lot of good ones over the three years, we even picked up a small traveller/ punk Exeter fanbase !, and recorded a fair bit after this as well– mainly using Bullrush Studios in Minehead -crashing on the floor there for weekend sessions . 
      p All good things come to an end though and ,without ever discovering what was ultimately unidentifiable in the Woodshed- Something Nasty reached a signing off time in mid 1995 :- Relationships changed, Nick needed to swap  countries – Wales not being as hard to reach as Australia though still too far !
      p But their songs will now be accessible to whoever wants to listen in this site...


  
  #myModal.modal
    span.close &times;
    img.modal-content#modal-image
    #caption

  script(src='js/scripts.prod.js')
