include includes/head
include includes/nav
include includes/nav-circle.pug


#main
  .content
    h1 something nasty in the woodshed    
    .photos
      img.gall(src='imgs/snitw/s1.jpg' alt='ian richardson, briefly on keyz')
      img.gall(src='imgs/snitw/s3.jpg' alt='nick, fiddle and guitar')
      img.gall(src='imgs/snitw/s4.jpg' alt='rob hills, bass')
      img.gall(src='imgs/snitw/chris-durant.jpg' alt='chris durant, skin basher')
      img.gall(src='imgs/snitw/s6.jpg' alt='rog hunt, general awesomeness')
      img.gall(src='imgs/snitw/s2.jpg' alt='julie matthews, singer, writer, flautist')
      img.gall(src='imgs/snitw/s5.jpg' alt='rog, chris, rob, julie, nick')
      img.gall(src='imgs/snitw/s7.jpg' alt='rocking out!')


    /// blurb
    .blurb
      p The story of this band started around 1992, with Rog Hunt (guitar) and Julie Matthews (vocals and flute) meeting at Exeter teacher training college, music being a big driver for both!
      p Rog mainly knew 70s/80s rock and post punk (with a bit of Dylan and Nick Cave thrown in). He had hardly sung and was still dismayed at not being able to ape the rock guitar of Hendrix or Heavy Metal heroes!
      p Julie, having run the folk club at Swansea Uni, had worked her way on from a Moody Blues affair to many new fields, becoming heavily skilled in English and Irish folk songs - both vocally and on the flute. This, strangely enough, was a good mix and had potential…
      p After Rog realised that he could write a reasonable bit of strange chord guitar shenanigans to a Julie's lyrics, adn that he was better at that than teaching,  a change was made, both geographically and otherwise: the pair of them hacked up to East Devon from Brixham after Rog leaving teaching for the good of all, with a Jawa & side-car.
      p With Julie still teaching, they started to attend a few (of what were in the days before ‘open mic sessions’) Folk Nights. They began roughly performing Irish, Welsh and English folk songs learned from a couple of Julie's books. 
      p OMG!...but it was a good breeding ground. Things had to tighten up whilst playing live together to a bunch of strangers with nasal drone critique skills. They didn't often join in with our random choices! 
      p So, from this with Folk song covers not quite completing the circle, it seemed something else was looking for a way in – original songs were gestating, and were not going to be overdue for long!
      p Some early sessions featured a few self-penned numbers with Matthew Smith (briefly on bass and recording), Ian Richardson (on keys for a short while) and Nick Martin playing fiddle and electric guitar.
      p This got us the attention of a local recording studio in Honiton: Daylight Music, run by Ian Dent,who recorded our first 3 track session and put a song called <i>The Mirror</i> (lyrics/tune by Julie and rest by Rog) on a compilation of 24 Devon Bands, with the risqué coastal-rock title <i>Long and Pink</i>!
      //end blurb

  .toonz
    h2 toonz
    .song.a1
      audio.a1.toon(src='mp3s/1-snitw1/01-Man in the Long Coat.mp3')
      button.a1 
      span Man in the Long Coat
    .song.a2
      audio.a2.toon(src='mp3s/1-snitw1/02-Black Crow.mp3')
      button.a2 
      span Black Crow
    .song
      audio.a3.toon(src='mp3s/1-snitw1/03-The Mirror.mp3')
      button.a3 
      span The Mirror
    .song
      audio.a4.toon(src='mp3s/1-snitw1/04-England Boys.mp3')
      button.a4 
      span England Boys
    .song
      audio.a5.toon(src='mp3s/1-snitw1/05-Fat Controller.mp3')
      button.a5 
      span Fat Controller
    .song
      audio.a6.toon(src='mp3s/1-snitw1/06-Digging My Crown.mp3')
      button.a6 
      span Digging My Crown
    .song
      audio.a7.toon(src='mp3s/1-snitw1/07-A Love Like This.mp3')
      button.a7
      span A Love Like This
    .song
      audio.a8.toon(src='mp3s/1-snitw1/08-Lone Rider.mp3')
      button.a8 
      span Lone Rider
    //- sure this can be improved
    //- make .song clickable and use its class to identify? eg song.s1
    //- bit bodgy at moment!
  
    .spacer &nbsp;

    .song
      audio.a9.toon(src='mp3s/2-snitw2/01-Way Down.mp3')
      button.a9 
      span Way Down
    .song
      audio.a10.toon(src='mp3s/2-snitw2/02-Only One Hour.mp3')
      button.a10 
      span Only One Hour
    .song
      audio.a11.toon(src='mp3s/2-snitw2/03-Killer Windscreen.mp3')
      button.a11 
      span Killer Windscreen
    .song
      audio.a12.toon(src='mp3s/2-snitw2/04-Alone.mp3')
      button.a12 
      span Alone
    .song
      audio.a13.toon(src='mp3s/2-snitw2/05-The Promising.mp3')
      button.a13 
      span The Promising
    .song
      audio.a14.toon(src='mp3s/2-snitw2/06-Fisherman.mp3')
      button.a14 
      span Fisherman
    .song
      audio.a15.toon(src='mp3s/2-snitw2/07-King Rides Out.mp3')
      button.a15 
      span King Rides Out
    .song
      audio.a16.toon(src='mp3s/2-snitw2/08-Victim.mp3')
      button.a16 
      span Victim
    .song
      audio.a17.toon(src='mp3s/2-snitw2/09-Susan.mp3')
      button.a17 
      span Susan
    .song
      audio.a18.toon(src='mp3s/2-snitw2/10-Simply Go.mp3')
      button.a18 
      span Simply Go
    .song
      audio.a19.toon(src='mp3s/2-snitw2/11-Neighbourhood Watch.mp3')
      button.a19 
      span Neighbourhood Watch
    .song
      audio.a20.toon(src='mp3s/2-snitw2/12-Way I Wanted.mp3')
      button.a20 
      span Way I Wanted
    .song
      audio.a21.toon(src='mp3s/2-snitw2/13-Dont Believe.mp3')
      button.a21 
      span Don't Believe
    .song
      audio.a22.toon(src='mp3s/2-snitw2/14-Tom O Bedlam.mp3')
      button.a22 
      span Tom O' Bedlam
    


  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')
