include includes/head
include includes/nav
include includes/nav-circle.pug


#mymain
  h1 something nasty in the woodshed

  .page-container

    .photos
      .row
        img.gall(src='imgs/snitw/s1.jpg' alt='ian richardson, briefly on keyz')
        img.gall(src='imgs/snitw/s3.jpg' alt='nick, fiddle and guitar')
        img.gall(src='imgs/snitw/s4.jpg' alt='rob hills, bass')
        img.gall(src='imgs/snitw/chris-durant.jpg' alt='chris durant, skin basher')
        img.gall(src='imgs/snitw/s6.jpg' alt='rog hunt, general awesomeness')
        img.gall(src='imgs/snitw/s2.jpg' alt='julie matthews, singer, writer, flautist')
        img.gall(src='imgs/snitw/s5.jpg' alt='rog, chris, rob, julie, nick')
        img.gall(src='imgs/snitw/s7.jpg' alt='rocking out!')
    // AQ add captions as alts!!!


    .toonz
      p insert toonz

  .blurb
    p insert blurb

  
  #myModal.modal
    span.close &times;
    img.modal-content#modal-image
    #caption

  script(src='js/scripts.prod.js')
