include includes/head
include includes/nav
include includes/nav-circle.pug


#main
  .content
    h1 something nasty in the woodshed    
    .photos
      img.gall(src='imgs/snitw/s1.jpg' alt='ian richardson, briefly on keyz')
      img.gall(src='imgs/snitw/s3.jpg' alt='nick, fiddle and guitar')
      img.gall(src='imgs/snitw/s4.jpg' alt='rob hills, bass')
      img.gall(src='imgs/snitw/chris-durant.jpg' alt='chris durant, skin basher')
      img.gall(src='imgs/snitw/s6.jpg' alt='rog hunt, general awesomeness')
      img.gall(src='imgs/snitw/s2.jpg' alt='julie matthews, singer, writer, flautist')
      img.gall(src='imgs/snitw/s5.jpg' alt='rog, chris, rob, julie, nick')
      img.gall(src='imgs/snitw/s7.jpg' alt='rocking out!')


    /// blurb
    .blurb
      p The story of this band started around 1992, with Rog Hunt (guitar) and Julie Matthews (vocals and flute) meeting at Exeter teacher training college, music being a big driver for both!
      p Rog mainly knew 70s/80s rock and post punk (with a bit of Dylan and Nick Cave thrown in). He had hardly sung and was still dismayed at not being able to ape the rock guitar of Hendrix or Heavy Metal heroes!
      p Julie, having run the folk club at Swansea Uni, had worked her way on from a Moody Blues affair to many new fields, becoming heavily skilled in English and Irish folk songs - both vocally and on the flute. This, strangely enough, was a good mix and had potential…
      p After Rog realised that he could write a reasonable bit of strange chord guitar shenanigans to a Julie's lyrics, adn that he was better at that than teaching,  a change was made, both geographically and otherwise: the pair of them hacked up to East Devon from Brixham after Rog leaving teaching for the good of all, with a Jawa & side-car.
      p With Julie still teaching, they started to attend a few (of what were in the days before ‘open mic sessions’) Folk Nights. They began roughly performing Irish, Welsh and English folk songs learned from a couple of Julie's books. 
      p OMG!...but it was a good breeding ground. Things had to tighten up whilst playing live together to a bunch of strangers with nasal drone critique skills. They didn't often join in with our random choices! 
      p So, from this with Folk song covers not quite completing the circle, it seemed something else was looking for a way in – original songs were gestating, and were not going to be overdue for long!
      p Some early sessions featured a few self-penned numbers with Matthew Smith (briefly on bass and recording), Ian Richardson (on keys for a short while) and Nick Martin playing fiddle and electric guitar.
      p This got us the attention of a local recording studio in Honiton: Daylight Music, run by Ian Dent,who recorded our first 3 track session and put a song called <i>The Mirror</i> (lyrics/tune by Julie and rest by Rog) on a compilation of 24 Devon Bands, with the risqué coastal-rock title <i>Long and Pink</i>!
      //end blurb
      

  .toonz
    p 
      audio(controls='')
        source(src='mp3s/1-snitw1/01-Man in the Long Coat.mp3')
      span Man in the Long Black Coat
    
    p 
      audio(controls='')
        source(src='mp3s/1-snitw1/02-Black Crow.mp3')
      span Black Crow
    
    p 
      audio(controls='')
        source(src='mp3s/1-snitw1/03-The Mirror.mp3')
      span The Mirror
    
    p
      audio(controls='')
        source(src='mp3s/1-snitw1/04-England Boys.mp3')
      span England Boys
    
    p 
      audio(controls='')
        source(src='mp3s/1-snitw1/05-Fat Controller.mp3')
      span Fat Controller
    
    p
      audio(controls='')
        source(src='mp3s/1-snitw1/06-Digging My Crown.mp3')
      span Digging My Crown
    
    p 
      audio(controls='')
        source(src='mp3s/1-snitw1/07-A Love Like This.mp3')
      span A Love Like This
    
    p
      audio(controls='')
        source(src='mp3s/1-snitw1/08-Lone Rider.mp3')
      span Lone Rider

    audio#audio(src='mp3s/1-snitw1/08-Lone Rider.mp3')
    button#play play
    


  
  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')
