include includes/head
include includes/nav

#main
  .content
    h1
      .smallL ~~
      .normal Starkadders
      .smallR ~~ 
    
    .photos
      img.gall(src='imgs/jackroller.png' alt='jack')
    
    .blurb
      p However there was no way of playing much of these Petrolmoon and other stuff live though, which kind troubled Rog – being a bit of a lover of the performing side. So in 2007, following a move to Tipton St John, we formed a band!
      
      p Rich Ward (drummer) joined Rog and Jon for a while. We started putting stuff together in the pavilion down by the river in 2007/8 and were christened…(you’ve guessed it? back to Cold Comfort times?)...The Starkadders! We managed to record an interesting few original numbers with him before Rich moved away to London.

      p Then it became Jon on bass (sometimes solos, 5 string with neat effects and backing vocals), Rog (crafter hybrid electric/acoustic guitar). New superb skins basher, Gareth Barden joined (he had previously played in a band with Jon in their teens!)

      p We had  'good times, bad times - we had our share !', but played quite a few gigs - Exeter Pheonix, many local festivals, Rog's wedding, and later Jon's wedding, when Mike Dobs joined in on lead guitar. 
      
      p With Jon's devotion to skilled recording, we produced a fairly decent CD (or 20!) up until around 2016.

  .toonz
    h2 toonz
    .song.s1
      audio(src='mp3s/lost/01-no where fast.mp3')
      button 
      span Nowhere Fast
    .song.s2
      audio(src='mp3s/lost/02-job done.mp3')
      button 
      span job done
    .song.s3
      audio(src='mp3s/lost/03-fine mess.mp3')
      button 
      span fine mess
    .song.s4
      audio(src='mp3s/lost/04-white horses.mp3')
      button 
      span white horses
    .song.s5
      audio(src='mp3s/lost/05-what she does.mp3')
      button 
      span what she does
  

  #modal
    img#modal-image
    #caption

  script(src='js/scripts.prod.js')