#circle-container
  #circle
    button#close X
    button#open
      img(src='imgs/sss.png')


nav#nav
  ul
    li
      a(href='index.html') TAKE ME HOME
    li
      a(href='snitw.html') something nasty
    li
      a(href='bedouin.html') bedouin
    li
      a(href='jackroller.html') jackroller
    li
      a(href='idle.html') idle lovers
    li
      a(href='lost.html') lost hombres
    li
      a(href='petrol.html') petrol moon    
    li
      a(href='starkadders.html') starkadders
    li
      a(href='adders.html') the adders
  