nav#nav
  ul
    li
      i.fas.fa-home
      a(href='index.html') take me home
    li
      a(href='snitw.html') something nasty

    li
      a(href='bedouin.html') bedouin
    
    li
      a(href='jackroller.html') jackroller

    li
      a(href='idle.html') idle
    
    li
      a(href='lost.html') lost hombres
    
    li
      a(href='petrol.html') petrol moon
    
    li
      a(href='starkadders.html') starkadders
    
    li
      a(href='adders.html') adders
    
//- script(src='js/nav.prod.js')