@font-face {
  font-family: snake;
  src: url("SnakeChan.ttf");
}
body {
  font-family: 'DM Sans', sans-serif;
}
h1 {
  font-family: snake, monospace;
  font-size: 2.5rem;
}
h2 {
  font-family: snake, monospace;
}
a:link,
a:visited,
a:active {
  color: #99f;
}
a:hover {
  color: #f99;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #bbb;
  overflow-x: hidden;
  margin-top: -2rem;
  background-color: #111;
}
#main {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem 3rem;
  transform-origin: top left;
  transition: transform 0.5s linear;
  display: flex;
  justify-content: space-between;
}
#main.show-nav {
  transform: rotate(-20deg);
}
#main h1,
#main h2 {
  padding-left: 5rem;
}
.homecontent {
  margin: auto;
}
.content {
  width: 65%;
  height: 150vh;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}
.photos img {
  margin-top: 8px;
  max-width: 200px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 15px;
}
.photos img:hover {
  opacity: 0.7;
}
.toonz {
  top: 1%;
  width: 30%;
  height: 10vh;
  position: sticky;
  min-width: 300px;
}
.toonz p {
  margin: 0;
  display: flex;
  align-items: center;
}
.toonz audio {
  max-width: 3rem;
  margin: 0 0.5rem;
  height: 1rem;
}
#circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 100;
}
#circle {
  background: #f99;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
#circle.show-nav {
  transform: rotate(-90deg);
}
#circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  animation: opac 1s infinite alternate;
}
#circle button:focus {
  outline: none;
}
#circle button#open {
  margin-left: 12px;
  margin-top: 15px;
}
#circle button#close {
  transform: rotate(90deg);
  transform-origin: top left;
  outline: none;
  font-size: 3rem;
  padding: 1.1rem;
  font-family: snake;
}
#nav.show-nav ul li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
#nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}
#nav ul {
  list-style: none;
  padding-left: 30px;
}
#nav ul li {
  color: #345fff;
  margin: 10px 0;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
}
#modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
  cursor: pointer;
  position: fixed;
  padding-top: 2rem;
  background: rgba(0,0,0,0.8);
}
#modal-image {
  margin: auto;
  display: block;
  max-height: 85%;
}
#caption {
  color: #ddd;
  display: block;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  text-align: center;
}
#modal-image,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
.carousel {
  overflow: hidden;
  transition: width 0.5s ease;
  width: 800px;
}
.carousel img {
  height: 450px;
  width: 800px;
}
.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.song {
  display: flex;
  align-items: center;
}
.song button {
  border: none;
  width: 1.75rem;
  height: 1.5rem;
  cursor: pointer;
  background: #111;
  background-repeat: no-repeat;
  background-image: url("../imgs/play.png");
}
span.playing {
  color: #99f;
}
.spacer {
  height: 2rem;
}
@-moz-keyframes opac {
  from {
    opacity: 0.33;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes opac {
  from {
    opacity: 0.33;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes opac {
  from {
    opacity: 0.33;
  }
  to {
    opacity: 1;
  }
}
@keyframes opac {
  from {
    opacity: 0.33;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-o-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
